body{
    height: 100vh;
    top: 0;
    left: 0;
    padding: 15x;
    background: linear-gradient(360deg,#DCF2F1,#34a5ff, #DCF2F1);
    font-family: sans-serif;
    font-weight: bold;
}

.hamburger{
    float: left;
}

div>.p2{
    display: flex;
    justify-content: center;
    background-color: #153448;
    color: #DCF2F1;
    border-radius: 25px;
    padding:7px;
    font-size: 10px; 
    font-weight: normal;
    margin-right: 100px;
    margin-left: 100px;
}

.p1{
    display: flex;
    justify-content: center;
    color: #153448;
}

.container{
    display: grid;
    grid-template-columns: 0.3fr;
    grid-template-rows: 0.1fr 0.1fr;
    margin-top: 60px;
    margin-bottom: 50px;
  }

.Weather31{
    font-size: 150px;
    color: #153448;
    font-weight: normal ;
}

.weather_detail{
    font-weight: bold;
    font-size: 0.74rem;
    color: #153448;
}

.sunny{
    font-size: small;
    display: flex;
    justify-content: right;
    font-weight: bold;
}

.container2{
    display: grid;
    padding: 10px;
    border-radius: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #153448;
    margin-bottom: 10px;
}

.item2{
    display: grid;
    justify-content: space-around;
    color: #DCF2F1 ;
    font-weight: lighter;
    font-size: medium;
    padding: 10px;
}

span{
    font-weight: lighter;
    font-size: xx-small;
    display: flex;
    justify-content: center
}

.container3{
    display: grid;
    justify-content: space-evenly ;
    grid-template-columns: 100px 150px 100px;
    grid-template-rows:40px 40px 40px ;
    font-size: small ;
}

